<div class="envelope envelope-container" id={{title}}>
    <div class="envelope envelope-lid" [ngClass]="[startOpened ? 'opened-lid' : '', animateOpen ? 'animate-lid' : '']"></div>
    <div class="envelope envelope-front">
        <img src="../../../../assets/svgs/envelope.svg" alt="" class="envelope-img">
        <div class="envelope-front-circle" *ngIf="dotColor!=''" style="background-color: {{dotColor}};"></div>
    </div>
    <div class="envelope envelope-paper" [ngClass]="[startOpened ? 'opened-page' : '', animateOpen ? 'animate-page' : '']">
        <h2 class="title" *ngIf="link == ''">{{title}}</h2>
        <h2 class="title envelope-link" *ngIf="link != ''">
            <a href="envelope-link" href="{{link}}">{{title}}</a>
        </h2>
        <p>{{paragraph}}</p>
    </div>
</div>