.loading{
    &-container{
        width: 80%;
        max-width: 500px;
        margin: auto;
        text-align: center;
        margin-top: 150px;
    }
    &-elem{
        width: 80%;
        max-width: 150px;
        margin: auto;
    }
}