<div class="page-container" *ngIf="signInStage != 'success'">
    <div class="elem-container" *ngIf="signInStage === 'prompt'">
        <h1>Login to Admin Dashboard</h1>
        <form (submit)="verifyAdmin(userNameInput.value, pwdInput.value, $event)" class="elem-form">
            <label for="username" class="elem-label">Username</label>
            <input name="username" type="text" class="elem-input" #userNameInput>
            <label for="pwd" class="elem-label">Password</label>
            <input name="pwd" type="password" class="elem-input" #pwdInput>
            <button class="elem-btn">Submit</button>
        </form>
    </div>
    <div class="elem-container" *ngIf="signInStage === 'loading'">
        <h1>Loading</h1>
        <div class="elem-loading">
            <app-loading></app-loading>
        </div>
    </div>
    <div class="elem-container" *ngIf="signInStage === 'error'">
        <h1>Error</h1>
        <h2>{{errorText}}</h2>
        <a (click)="signInStage = 'prompt'" style="font-size: 1.25rem; text-decoration: underline; cursor: pointer;">Retry</a>
    </div>
</div>
<div class="page-container" *ngIf="signInStage === 'success'">
    <h1 class="admin-title" style="margin-top: 15px;">Admin Console</h1>
    <div class="admin-elem-container">
        <div class="admin-elem">
            <h2 class="admin-title">Wordpress data</h2>
            <p style="font-size: 1.25rem;">Convert Wordpress data to .json file</p>
            <form (submit)="getWordPressData(urlInput.value, $event)" class="admin-elem-form">
                <label for="Url" class="admin-elem-form-label">Wordpress Site URL</label>
                <input name="Url" type="text" class="admin-elem-form-input" #urlInput value="{{siteUrl}}">
                <button class="admin-elem-form-submit">Generate</button>
            </form>
        </div>
        <div class="admin-elem">
            <h2 class="admin-title">Logout</h2>
            <p style="font-size: 1.25rem;">Logout from the admin console</p>
            <button class="admin-elem-form-submit" (click)="logout()">Logout</button>
        </div>
    </div>
</div>

<a id="downloadAnchorElem"></a>