@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');

:root{
    --root-primary: #011627;
    --root-content: #dee2e6;
    --root-secondary: #4e54c8;

    --elem1-primary: #2ec4b6;
    --elem1-content: #fff;
    --elem1-secondary: #3A5683;

    --elem2-primary: #6564db;
    --elem2-content: #fff;
    --elem2-secondary: #b642b4;

    --elem3-primary: #003566;
    --elem3-content: #fff;
    --elem3-secondary: #4976a0;
    
    --elem4-primary: #d90429;
    --elem4-content: #fff;
    --elem4-secondary: rgb(71, 11, 21);

}


html{
    background-color: var(--root-primary);
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    display: none;
    width: 100vw;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li, button, label, input{
    font-family: 'Heebo', sans-serif;
    color: var(--root-content);
    font-weight: 300;
}

h1{
    font-size: 3rem;
    font-weight: 450;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.15rem;
}

.page-container{
    width: 100vw;
    margin: 0;
    padding: 0;
}

.img-bg{
    background-size: cover;
    background-repeat: no-repeat;
}

.wave{
    width: 100vw;
    aspect-ratio: 8/1;
    min-height: 10vh;
    &-top{
        margin-top: 150px;
    }
    &-bottom{
        margin-bottom: 150px;
    }
}

@media screen and(max-width: 950px){
    h1{
        font-size: 2rem;
        font-weight: 450;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
}
