.loading{
    &-container{
        width: 80%;
        max-width: 500px;
        margin: auto;
        text-align: center;
        margin-top: 150px;
    }
    &-elem{
        width: 80%;
        max-width: 150px;
        margin: auto;
    }
}

.title{
    &-container{
        max-width: 700px;
        width: 100%;
        margin: auto;
        margin-top: 5vh;
    }
}

.hero{
    min-height: 50vh;
    height: fit-content;
    margin-top: 24vh !important;
}

.projects{
    height: fit-content;
    margin-top: 150px !important;
}

.section-container{
    width: 98vw;
    margin: auto;
    margin-top: 150px;
}

.even-section{
    width: 100vw;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 50px 0px;
}


.narrow{
    max-width: 1500px;
    margin: auto;
}