<div class="contact-header">
    <div class="contact-img">
        <img src="../../../../assets/svgs/telephone.svg" alt="Wireframe icon of an old-fashioned dial up telephone">
        <h1 class="center-text">Contact Me</h1>
    </div>
</div>

<div class="contact-table">
    <p class="contact-text">Email</p>
    <a class="highlight contact-text contact-link " href="mailto:gabrielhanichwork@gmail.com">gabrielhanichwork&#64;gmail.com</a>
    <p class="contact-text">Github</p>
    <a class="highlight contact-text contact-link " href="https://github.com/gabriel-hanich/">github.com/gabriel-hanich/</a>
</div>