<div class="menu-bar" id="menu-bar">
    <div class="menu-logo">
        <img class="menu-logo-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSORY7x1pJapJ80ZHYC-pwn_QSzduQUGBhA6A&usqp=CAU" alt="Logo">
    </div>
    <div class="menu-blank menu-item"></div>
    <div class="menu-bar-content">
        <div class="menu-name menu-item">
            <h2 class="menu-text">Projects</h2>
        </div>
        <div class="menu-name menu-item">
            <h2 class="menu-text">Dev Experience</h2>
        </div>
        <div class="menu-name menu-item">
            <h2 class="menu-text">Contact</h2>
        </div>
    </div>
</div>