<div class="menu-bar" id="menu-bar">
    <div class="menu-logo">
        <img src="https://i.ibb.co/cCdBJL6/portfolio-logo.png" alt="" class="menu-logo-img" (click)="scrollPage(0)">
    </div>
    <div class="menu-blank menu-item"></div>
    <div class="menu-bar-content">
        <div class="menu-name menu-item">
            <a class="menu-text" href="#projects">Projects</a>
        </div>
        <div class="menu-name menu-item">
            <a class="menu-text" href="#experience">Dev Experience</a>
        </div>
        <div class="menu-name menu-item">
            <a class="menu-text" href="#contact">Contact & Resume</a>
        </div>
    </div>
</div>