<div class="section-container">
    <div class="title-container">
        <app-envelope title="Projects" paragraph="I learn best by working on Projects. Below is a selection of the work I've done" [startOpened]="true" [openOnScroll]="false" ></app-envelope>   
    </div>
    <div class="selector-container">
        <div class="selector-button" *ngFor="let label of fields" (click)="currentField=label" [ngClass]="[currentField == label? 'selector-active' : '']">
            <p class="selector-text">{{label}}</p>
        </div>
    </div>
    <div class="van-container">
        <img src="../../../../assets/svgs/delivery-van.svg" alt="" class="van-img">
    </div>
    <div class="list">
        <div 
        class="list-item" 
        *ngFor="let project of projectsList; index as i" style="transform: rotate({{project['randFloat'] * 10 - 5}}deg);" 
        [ngClass]="[(currentField==project['field'] || currentField=='all') ? 'list-item-active' : 'list-item-inactive']"
        >
            <app-envelope 
            title="{{project['title']}}"
            paragraph="{{project['about']}}"
            link="project/{{project['slug']}}" 
            [openOnScroll]="true" 
            [openDelay]="i*750+2000"
            dotColor="{{project['dotColor']}}"
            ></app-envelope>
        </div>
    </div>
</div>
