<div class="title-container">
    <div class="envelope envelope-container">
        <div class="envelope envelope-lid"></div>
        <div class="envelope envelope-front">
            <img src="../../../../assets/svgs/envelope.svg" alt="" class="envelope-img">
        </div>
        <div class="envelope envelope-paper">
            <h2 class="title">Looking Glass</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum veritatis minima vitae iure sit mollitia odit quo commodi porro accusantium voluptate natus laboriosam necessitatibus dignissimos, repellendus deleniti beatae quos nobis cupiditate temporibus voluptates rem doloremque? Omnis eligendi provident, voluptatum neque suscipit unde quas mollitia quos aspernatur quisquam rem, architecto amet facilis minus facere illo autem perspiciatis pariatur, temporibus sapiente. Consequuntur laboriosam tenetur totam, ipsum ullam, vitae, possimus sapiente fugit est eligendi tempora quisquam quae. Omnis autem ipsum magnam nemo rem. Repellat, omnis earum. At neque consequatur quas, quaerat iure pariatur. Facilis incidunt ab ipsum vitae dolorum eius quisquam quis fugit?</p>
        </div>
</div>