<div class="page-container">
    <div class="title-container">
        <app-welcome-text></app-welcome-text>
    </div>
    <div class="hero section-container">
        <app-hero-container></app-hero-container>
    </div>
    <div class="projects section-container narrow" id="projects">
        <app-projects-list></app-projects-list>
    </div>
    <div class="experience section-container narrow" id="experience">
        <app-experience></app-experience>
    </div>
    <div class="resume section-container narrow" id="resume">
        <app-resume></app-resume>
    </div>
    <div class="contact section-container narrow" id="contact">
        <app-contact></app-contact>
    </div>
</div>