.title-container{
    width: 75vw;
    max-width: 1000px;
    height: fit-content;
}   

.experience{
    &-container{
        width: 75vw;
        max-width: 1000px;
        margin: auto;
        margin-top: 70px;
    }
    &-bar{
        width: var(--bar-width);
        height: 100px;
        margin-bottom: 30px;
        animation: expand 4s ease forwards;
        overflow: hiddenh;
    }
}

@keyframes expand {
    0%{
        width: 0%;
    }
    100%{
        width: var(--bar-width)
    }
}

@media screen and (max-width:700px) {
    .title-container{
        width: 95vw;
    }
    .experience-container{
        width: 95vw;
    }
}
