<div class="projects-container">
    <div class="projects-field">
        <div class="projects-field-bold heading-field heading-bold">
            <h1 class="projects-title">My Projects</h1>
        </div>
        <div class="projects-field-content heading-field heading-content">
            <h2 class="projects-subheading">I learn best when I'm working on Projects. Below is a sample of what I've been up to</h2>
        </div>
    </div>
    <div class="projects-list" id="projectList">
        <div class="projects-field" *ngFor="let project of projectsList">
            <div class="projects-field-content">
                <p class="projects-text">{{project['excerpt']}}</p>
            </div>
            <div class="projects-field-bold" (click)="goToProject(project['id'])">
                <h1 class="projects-title">{{project['name']}}</h1>
            </div>
        </div>
        
    </div>
</div>