@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cutive+Mono&family=Gudea:ital,wght@0,400;0,700;1,400&family=Hurricane&family=UnifrakturCook:wght@700&display=swap');


:root {
    --text: #101523;
    --background: #FFFFEE;
    --viewPortBackground: #b1b1b3;
    --primary: #0a2b3b;
    --secondary: #1282A2;
    --paper: #ecdfcc;
}

body{
    background-color: var(--background);
    overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6,button,li,ul,p,a, input{
    text-decoration: none;
    color: var(--text);
    font-family: 'Gudea', sans-serif;
    margin-bottom: 5px;
}

h1,h2,h3,h4,h5,h6,a{
    font-family: 'Cutive Mono', serif;
}

a{
    font-weight: 600;
    font-size: large;
}

em{
    font-style: normal;
    color: var(--primary);
    font-weight: bolder;
}

p{
    margin-top: 0px;
}

.handwritten{
    font-family: 'Hurricane';
    font-weight: 200;

    &-title{
        font-size: 5rem;
    }
}


.fancy{
    font-family: 'UnifrakturCook';
}


.page-container{
    width: 99vw;
    margin: none;
    padding: none;
    height: fit-content;
}

.title, .subtitle{
    text-align: center;
}

.section-container{
    width: 100%;
    height: fit-content;
    margin: none;
}

.title-container{
    margin: auto;
    width: 35vw;
    height: auto;
    margin-top: 150px;
}

.center-text{
    text-align: center;
}