<div class="footer-container ">
    <div class="footer-wave img-bg"></div>
    <div class="footer-content">
        <h2 class="footer-text">&copy;Gabriel Hanich 2023</h2>
        <a class="footer-text highlight" href="/Portfolio">Home</a>
        <a class="footer-text highlight" href="mailto:{{email}}">Contact</a>
        <a class="footer-text highlight" href="/Portfolio/projects">Projects</a>
        <a class="footer-text highlight" href="/Portfolio/resume">Resume</a>
        <a class="footer-text highlight" href="/Portfolio/admin">Admin</a>

    </div>
</div>