<div class="rotunda-container" id="projectRotandaContainer">
    <div class="rotunda-column upColumn" id="column1">
        <div class="rotunda-item" *ngIf="projectsList.length >= 1">
            <h2 class="rotunda-item-title">{{projectsList[0]['name']}}</h2>
            <p class="rotunda-item-text">{{projectsList[0]['description']}}</p>
        </div>
        <div class="rotunda-item" *ngIf="projectsList.length >= 2">
            <h2 class="rotunda-item-title">{{projectsList[1]['name']}}</h2>
            <p class="rotunda-item-text">{{projectsList[1]['description']}}</p>
        </div>
    </div>
    <div class="rotunda-column downColumn" id="column2" *ngIf="projectsList.length >= 3">
        <div class="rotunda-item" *ngIf="projectsList.length >= 3">
            <h2 class="rotunda-item-title">{{projectsList[2]['name']}}</h2>
            <p class="rotunda-item-text">{{projectsList[2]['description']}}</p>
        </div>
        <div class="rotunda-item" *ngIf="projectsList.length >= 4">
            <h2 class="rotunda-item-title">{{projectsList[3]['name']}}</h2>
            <p class="rotunda-item-text">{{projectsList[3]['description']}}</p>
        </div>
    </div>
    <div class="rotunda-column upColumn" id="column3" *ngIf="projectsList.length >= 5">
        <div class="rotunda-item" *ngIf="projectsList.length >= 5">
            <h2 class="rotunda-item-title">{{projectsList[4]['name']}}</h2>
            <p class="rotunda-item-text">{{projectsList[4]['description']}}</p>
        </div>
        <div class="rotunda-item" *ngIf="projectsList.length >= 6">
            <h2 class="rotunda-item-title">{{projectsList[5]['name']}}</h2>
            <p class="rotunda-item-text">{{projectsList[5]['description']}}</p>
        </div>
    </div>
</div>

