.experience{
    &-container{
        width: 90%;
        height: fit-content;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;

        background: rgba($color: #000000, $alpha: 0.35);
    }
    &-title{
        margin-bottom: 0px;
        margin-left: 10px;
    }

    &-subtitle{
        width: 50%;
        margin-left: 10px;
    }
    &-bars{
        &-container{
            width: 90%;
            margin: auto;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &-section{
            width: 100%;
            height: 50px;
            background-color: rgba($color: #000000, $alpha: 0.35);
            display: flex;
            border-radius: 15px;
            overflow: hidden;
        }
        &-inner{
            width: 0%;
            height: 100%;
            background: linear-gradient(to right, #5a5acc, #d666d1, #5a5acc);
            background-size: calc(0.9 * 0.8 * 100vw) 100%;
            animation: fill 1s var(--animation-delay) forwards;
        }
        &-text{
            &-container{
                display: flex;
                flex-direction: row;
            }
            &-label{
                &-container{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    align-items: center;
                }
                &-heading{
                    font-size: 1.35rem;
                    margin-top: 10px;
                }
                &-icon{
                    height: 40px;
                    width: auto;
                    margin-left: 5px;
                    margin-top: -5px;
                    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(135deg) brightness(111%) contrast(101%);
                }
            }
            &-time{
                &-container{
                    width: 100%;
                    height: 50px;
                    margin-right: 5px;

                    text-align: right;
                    margin-top: -7px;
                }
                &-text{
                    animation: fade-in 0.5s ease 3s backwards;
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@keyframes fill {
    0%{
        width: 0%;
    }
    100%{
        width: var(--bar-width);
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}