<div class="contact-container">
    <h1 class="contact-text">Get In Touch</h1>
    <div class="contact-options-container">
        <p class="contact-options-text contact-options-label">Email</p>
        <a class="contact-options-text contact-options-value highlight" href="mailto:{{email}}">{{email}}</a>
        <p class="contact-options-text contact-options-label">Github</p>
        <a class="contact-options-text contact-options-value highlight" href="https://github.com/gabriel-hanich">github.com/gabriel-hanich</a>
    </div>
</div>