.content{
        &-container{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 55vw;
    }
    &-text{
        &-container{
            width: 100%;
            height: 100%;
        }
    }
}


.text-container{
    position: fixed;
    top: 30%;
    left: 5%;
    width: 100%;
    max-width: 800px;
    background-color: rgba(var(--hidden-color), $alpha: 0.35);
    border-radius: 15px;
    padding: 15px;
    transition: all 1s ease;
}

.heading{
    &-text{
        background: #ff00cc;  /* fallback for old browsers */
        background: linear-gradient(to right, #5a5acc, #d666d1, #5a5acc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200%;
        background-position: 0% center;
        animation: change-background linear 2s infinite;
    }
}

.image{
    &-container{
        position: absolute;
        display: rek;
        top: 0%;
        right: 0%;
        width: 45vw;
        height: 4000px;
        overflow: hidden;

        &-inner{
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
    &-logo{
        &-container{
            position: absolute;
            top: calc(50vh - var(--y-offset));
            left: calc(15vw - var(--x-offset));
            height: 300px;
            aspect-ratio: 1/1;
            width: auto;
            animation: enter-img 0.75s ease var(--animation-delay) backwards;
        }
        &-image{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &-text{
            background-color: rgba(var(--hidden-color), $alpha: 0.35);
            border-radius: 15px;
            text-align: center;
            border: 1px #000000 solid;
        }
    }
}



.fixed{
    position: fixed;
}

// TODo delete me
.filler{
    width: 99vw;
    height: 4000px;
}


@keyframes change-background {
    0%{
        background-position: 0% center;
    }
    100%{
        background-position: -200% center;
    }
}

@keyframes enter-img{
    0%{
        transform: translateX(40vw) rotate(80deg);
    }
    100%{
        transform: translateX(0vw) rotate(0deg);
    }
}