<div class="projects-container" id="projectsContainer">
    <div class="projects-title-container">
        <h1 class="projects-title-heading gradient-text">My Projects</h1>
        <h2 class="projects-title-subheading">I have developed a variety of apps, utilising a number of frameworks, cloud platforms and devices</h2>
    </div>
    <div class="projects-grid-container">
        <div class="projects-grid-card out" style="--background-gradient: linear-gradient(to right, #26C485, #5465FF); --animation-delay: 2.05s" (click)="openlink('https://github.com/gabriel-hanich/Base-Camp')">
            <h1 class="projects-grid-card-text">Base Camp</h1>
            <div class="projects-grid-card-icon-container">
                <img class="projects-grid-card-icon-img" src="/assets/ico/angular.svg">
                <img class="projects-grid-card-icon-img" src="/assets/ico/database.svg">
                <img class="projects-grid-card-icon-img" src="/assets/ico/ts.svg">
            </div>
            <p class="projects-grid-card-subheading">A cloud-enabled app to allow students to manage their time on-campus</p>
        </div>
        <div class="projects-grid-card out" style="--background-gradient: linear-gradient(to right, #5465FF, #FF8CC6); --animation-delay: 1.7s" (click)="openlink('https://github.com/gabriel-hanich/They-Speak-for-Us')">
            <h1 class="projects-grid-card-text">They Speak for Us</h1>
            <div class="projects-grid-card-icon-container">
                <img class="projects-grid-card-icon-img" src="/assets/ico/node.svg">
                <img class="projects-grid-card-icon-img" src="/assets/ico/database.svg">
                <img class="projects-grid-card-icon-img" src="/assets/ico/chart.svg">
            </div>
            <p class="projects-grid-card-subheading">Studying international news media on a mass-scale</p>
        </div>
        <div class="projects-grid-card out" style="--background-gradient: linear-gradient(to right, #FF8CC6, #7F96FF); --animation-delay: 1.35s" (click)="openlink('https://github.com/gabriel-hanich/Covid-Sim')">
            <h1 class="projects-grid-card-text">Covid Simulator</h1>
            <div class="projects-grid-card-icon-container">
                <img class="projects-grid-card-icon-img" src="/assets/ico/python.svg">
                <img class="projects-grid-card-icon-img" src="/assets/ico/chart.svg">
            </div>
            <p class="projects-grid-card-subheading">Simulating the spread of COVID-19 through a digital population</p>
        </div>
        <div class="projects-grid-card out" style="--background-gradient-animation-delay: 1s" (click)="openlink('https://github.com/gabriel-hanich/Evolution-Sim')">
            <h1 class="projects-grid-card-text">Evolution Simulator</h1>
            <div class="projects-grid-card-icon-container">
                <img class="projects-grid-card-icon-img" src="/assets/ico/python.svg">
                <img class="projects-grid-card-icon-img" src="/assets/ico/chart.svg">
            </div>
            <p class="projects-grid-card-subheading">Simulating Natural Selection between predators and prey</p>
        </div>
    </div>
</div>