<div class="rotunda-container" id="projectRotandaContainer">
    <div class="rotunda-column upColumn" id="column1">
        <div class="rotunda-item">
            <h2 class="rotunda-item-title">They Speak for Us</h2>
            <p class="rotunda-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dicta nostrum sunt deleniti amet iusto!</p>
        </div>
        <div class="rotunda-item">
            <h2 class="rotunda-item-title">Base Camp</h2>
            <p class="rotunda-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dicta nostrum sunt deleniti amet iusto!</p>
        </div>
    </div>
    <div class="rotunda-column downColumn" id="column2">
        <div class="rotunda-item">
            <h2 class="rotunda-item-title">Covid Simulator</h2>
            <p class="rotunda-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dicta nostrum sunt deleniti amet iusto!</p>
        </div>
        <div class="rotunda-item">
            <h2 class="rotunda-item-title">Evolution Sim</h2>
            <p class="rotunda-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dicta nostrum sunt deleniti amet iusto!</p>
        </div>
    </div>
    <div class="rotunda-column upColumn" id="column3">
        <div class="rotunda-item">
            <h2 class="rotunda-item-title">Impersonate</h2>
            <p class="rotunda-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dicta nostrum sunt deleniti amet iusto!</p>
        </div>
        <div class="rotunda-item">
            <h2 class="rotunda-item-title">School Time</h2>
            <p class="rotunda-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dicta nostrum sunt deleniti amet iusto!</p>
        </div>
    </div>
</div>