<div class="hero">
    <div class="paper-container">
        <div class="paper-front">
            <div class="header-bar">
                <div class="header-upper">
                    <h1 class="fancy header-text">The Daily Portfolio</h1>
                </div>
                <div class="header-lower">
                    <p class="header-subtext">Volume III</p>
                    <p class="header-subtext">{{dateString}}</p>
                    <p class="header-subtext">Price 15¢</p>
                </div>
            </div>
            <div class="paper-content">
                <div class="col" id="col1">
                    <a href="/portfolio/#projects">
                        <h2 class="col-title">VARIETY OF PROJECTS DEVELOPED</h2>
                    </a>
                    <p>I have worked on a number of programming projects both individually and within a team. 
                        These projects have covered a variety of topics including simulation, data analysis and web development
                    </p>
                    <ul class="paper-list">
                        <li>Compute Power</li>
                        <li>They Speak For Us</li>
                        <li>Looking Glass</li>
                        <li>Evolution Simulator</li>
                    </ul>
                </div>
                <div class="col" id="col2">
                    <div class="popout">
                        <h1 class="popout-text">Gabriel Hanich</h1>
                        <div class="skills-bar">
                            <p>Data Analytics</p>
                            <div class="dot"></div>
                            <p>Political Science</p>
                            <div class="dot"></div>
                            <p>Web Dev</p>
                        </div>
                        <br>
                        <p>Studying a <em>Bachelor of Political Science</em> and a <em>Bachelor of Applied Data Analytics</em> at the Australian National University.</p>
                        <br>
                        <p class="popout-text">Based in Canberra, ACT</p>
                    </div>
                    <h2 class="col-title">RESUME TO BE MADE AVAILABLE</h2>
                    <p>Coming Soon!</p>
                    <a href="/portfolio/#contact">
                        <h2 class="col-title">CAN BE CONTACTED AT</h2>
                    </a>
                    <p>gabrielhanichwork&#64;gmail.com</p>
                    <p>github.com/gabriel-hanich/</p>
                </div>
                <div class="col" id="col3">
                    <a href="/portfolio/#experience">
                        <h2 class="col-title">ANNOUNCEMENT ON DEVELOPMENT EXPERIENCE</h2>
                    </a>
                    <p>I have a significant degree of software development experience in a number of different languages, frameworks and paradigms</p>
                    <p>This development experience includes this website, which I developed myself using Angular, and is hosted using Github Pages</p>
                </div>
            </div>
        </div>
    </div>
</div>

