.resume{
    &-container{
        width: 100%;
        height: fit-content;
        padding: 40px 0px;
        border-radius: 30px;
        background-color: var(--elem4-primary);

        margin: auto;

        background-image: url(../../../../assets/red-stacked-waves.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-text{
        margin-left: 30px;
        &-small{
            margin-top: 30px;
            font-size: 1.15rem;
        }
    }
    &-link{
        text-decoration: underline;
        cursor: pointer;
    }
    &-button{
        width: 80vw;
        max-width: 500px;
        aspect-ratio: 5/2;
        background: none;
        border: 3px #fff solid;
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.5s ease;


        &:hover{
            background: rgba(#000000, 0.3);
        }

        &-container{
            height: fit-content;
            display: grid;
            place-items: center;
            width: 100%;
            margin: 40px 0px;
        }
    }
}