<div class="resume-container">
    <h1 class="resume-text">Want some more Info?</h1>
    <h2 class="resume-text">Click Below to access my resume</h2>
    <div class="resume-button-container">
        <a class="" href="/private">
            <button class="resume-button">Resume</button>
        </a>
    </div>
    <p class="resume-text resume-text-small">Note that a username and password is required to see this information. <a class="resume-link" href="mailto:{{email}}" target="_blank">Contact Me</a> if you need login details</p>
</div>