<div class="contact-container">
    <h1 class="gradient-text contact-heading">Lets Talk</h1>
    <div class="contact-sections">
        <div class="contact-table">
            <div class="contact-label-container">
                <h2 class="contact-label-text highlight" id='emailLabel' (click)="changeText('emailLabel', 'gabrielhanichwork@gmail.com')">Email</h2>
            </div>
            <div class="contact-information-container">
                <a class="contact-information-data highlight" target="_blank" href="mailto:gabrielhanichwork@gmail.com">gabrielhanichwork@gmail.com</a>
            </div>
            <div class="contact-label-container">
                <h2 class="contact-label-text highlight" id='githubLabel' (click)="changeText('githubLabel', 'https://github.com/gabriel-hanich')">Github</h2>
            </div>
            <div class="contact-information-container">
                <a class="contact-information-data highlight" target="_blank" href="https://github.com/gabriel-hanich">github.com/gabriel-hanich</a>
            </div>
            <div class="contact-label-container">
                <h2 class="contact-label-text highlight" id='githubLabel'>Carrier Pigeon</h2>
            </div>
            <div class="contact-information-container">
                <a class="contact-information-data highlight">Work in Progress</a>
            </div>
        </div>
        <div class="contact-info">
            <h1 class="contact-info-text">Want More Details?</h1>
            <h2 class="contact-info-text" >Click below for my resume and more info</h2>
            <a href="/private">
                <button class="contact-info-btn">More</button>
            </a>
        </div>
    </div>

</div>