.footer{
    &-container{
        margin-top: 100px;
        width: 100%;
        height: fit-content;
        min-height: 50px;
        border-top: 5px black dashed;
        margin-bottom: 0px;
        padding-left: 35px;
    }
}