<div class="page-container">
    <div class="back-arrow">
        <a href="">
            <p class="back-text">Back</p>
        </a>
    </div>

    <div class="paper">
        <div class="content">
            <div [innerHTML]="projectData.bodyText"></div>
        </div>
        <div class="hero">
            <h1 class="handwritten handwritten-title hero-title hero-text">{{projectData.title}}</h1>
            <p class="hero-text" *ngIf="projectData.gitLink != ''"><a href="{{projectData.gitLink}}">Github Link</a></p>
            <p class="hero-text" *ngIf="projectData.icons.length != 0">Tools used</p>
            <div class="ico-list" *ngIf="projectData.icons.length != 0">
                <div class="ico-item" *ngFor="let icoLink of projectData.icons">
                    <img src="{{icoLink}}" alt="" class="ico-img">
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>