.projects{
    &-container{
        width: 100%;
        height: fit-content;
    }
    &-field{
        margin: auto;
        margin-top: 75px;
        min-height: 200px;
        width: 100%;
        border-radius: 30px;

        display: grid;
        grid-template-columns: 1fr 1fr;

        &-bold{
            background: var(--elem1-primary);
            border-radius: 0px 30px 30px 0px;
            z-index: 3;
            display: grid;
            place-items: center;
            padding: 10px;
            transform: translateX(-50%);
            transition: all 0.5s ease;
            cursor: pointer;

        }
        &-content{
            border-radius: 30px 0px 0px 30px;
            border: 5px var(--elem1-primary) solid;
            z-index: 1;
            padding: 10px;
            transform: translateX(50%);
            transition: all 0.5s ease;


        }
    }
    &-text{
        width: 80%;
        margin: auto;
        margin-top: 15px;
        font-size: 1.35rem;
    }
}

.heading-field{
    transform: translateX(0%) !important;
}

.heading-content{
    border-radius: 0px 30px 30px 0px !important;
}

.heading-bold{
    border-radius: 30px 0px 0px 30px !important;
}


@media screen and(max-width: 850px){
    .projects{
        &-text{
            font-size: 0.85rem;
        }
    }
}

@media screen and(max-width: 550px){
    .projects{
        &-field{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            width: 80%;
            &-bold{
                border-radius: 0px 0px 30px 30px!important;
            }
            &-content{
                border-radius: 30px 30px 0px 0px!important;
            }
        }
    }
    .heading-content{
        border-radius: 0px 0px 30px 30px !important;
    }
    
    .heading-bold{
        border-radius: 30px 30px 0px 0px !important;
    }
}